@charset "utf-8";
/* CSS Document */
body {
  margin:0;
  background: url(../img/bg_blur.jpg) fixed;
  background-size:cover;
  -webkit-background-size:cover;
  color:#333;
  /*font-family: 'Bad Script', cursive;*/
  font-family: 'Sriracha', cursive;
  user-select:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  perspective: 1000px;
}
img  {
  border:0;
}
a {
  color:#fff;
  text-decoration:none;
  outline:none;
  text-shadow: 0px 0px 1px #000;
  -webkit-text-shadow: 0px 0px 1px #000;
}
a:hover {
  text-decoration:none;
}
h2, h1 {
  text-shadow: 1px 1px 1px #fff;
  font-weight:normal;
}
:before {
  font-size:20px;
  font-family: 'icomoon';
  margin: 10px;
  position:relative;
  top: 2px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}
#main {
  transform: rotateX(45deg) rotateY(0deg); 
  transform-origin: left;
  width:600px;
  height: 600px;
  background: url(../img/cover.jpg) center;
  background-size:680px 680px;
  left:50%;
  margin-left:-300px;
  top:10px;
  position:relative;
  z-index:10;
  border:5px solid #fff;
  box-shadow: 0px 0px 4px #000;
  -webkit-box-shadow: 0px 0px 4px #000;
}
#main a, #page a {
  font-family: 'Sriracha', cursive;
  position:absolute;
  bottom:30px;
  right:20px;
  
}
#main a:before, #page a:before {
  font-size:30px;
}
.animate {
  animation: bday 3s;
  -webkit-animation: bday 3s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
@keyframes bday {
  100% {
    z-index: 8;
    transform: rotateX(45deg) rotateY(-360deg);
  }
}

.unRotate {
  animation: unrotate 1s;
  animation-fill-mode: forwards;
}
@keyframes unrotate {
  100% {
    transform: rotateX(0deg);
  }
}
#page{
  transform: rotateX(45deg);
  width:600px;
  height: 600px;
  background: url(../img/page_cover.jpg);
  left:50%;
  margin-left:-300px;
  top:10px;
  position:absolute;
  z-index:9;
  border:5px solid #fff;
  box-shadow: 0px 0px 4px #000;
  -webkit-box-shadow: 0px 0px 4px #000;
}
#page a:before {
  color: #333;
}
#text {
  width:auto;
  margin:20px;
  text-align:justify;
  color: #333;
  text-shadow: 0px 0px 1px #111;
  -webkit-text-shadow: 0px 0px 1px #111;
}
#text img {
  float:left;
  clear:left;
  margin:20px;
  border: 5px solid #fff;
  box-shadow: 0px 0px 3px #333;
  -webkit-box-shadow: 0px 0px 3px #333;
  transform:rotate(-5deg);
  -webkit-transform:rotate(-5deg);
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
}
#text h1 {
  margin-top:70px;
  float:right;
}
#greeting {
  height:auto;
  overflow:hidden;
}
#greeting hr {
  position:relative;
}
#greeting span:before {
  font-size:30px;
}
#wishText {
  height: 280px;
  overflow: hidden;
}
#loading {
  width:100%;
  height:100%;
  position:fixed;
  background: #fff;
  color: #333;
  z-index:100;
  top:0;
}
#loading h1 {
  margin-top:200px;
}
#loading h2{
  animation: loading 1s infinite linear;
  -webkit-animation: loading 1s infinite linear;  
}
#loading h2:before {
  font-size:80px;
}
@keyframes loading {
  100%{transform:rotate(360deg);
  }
}
@-webkit-keyframes loading {
  100%{-webkit-transform:rotate(360deg);
  }
}